body {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: red 1px solid;
    margin-top: 5%;
}

.btn {
    border: 1px black solid;
    border-radius: 5%;
    text-align: center;
    margin: 10% 25%;
    padding: 5% 10%;
}